<section class="Programs">
    <div class="container">
      <div class="row gy-lg-5 gy-4">
        <div class="col-lg-3 col-md-3">
          <div class="position-relative h-100" data-aos="flip-left">
            <div class="d-flex flex-column justify-content-center align-items-center h-100 position-relative z-3">
              <figure class="d-flex justify-content-center align-items-center">
                <img src="assets/images/icon/programs1.svg" alt="programs1">
              </figure>
              <div class="text-center flex-grow-1">
                <h5>A to Z Programs</h5>
                <p>Lorem ipsum dolor sit amet consectetur.</p>
              </div>
            </div>
            <div class="position-absolute"></div>
          </div>
        </div>
        <div class="col-lg-3 col-md-3">
          <div class="position-relative h-100" data-aos="flip-left">
            <div class="d-flex flex-column justify-content-center align-items-center h-100">
              <figure class="d-flex justify-content-center align-items-center">
                <img src="assets/images/icon/programs2.svg" alt="programs2">
              </figure>
              <div class="text-center flex-grow-1">
                <h5>Toddler Class</h5>
                <p>Lorem ipsum dolor sit amet consectetur.</p>
              </div>
              <div class="position-absolute"></div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6">
          <div class="text-md-start text-center h-100" data-aos="fade-up">
            <h2>Our Programs For Your Kids</h2>
            <p>Lorem ipsum dolor sit amet consectetur. Quis sed donec quis nunc aliquet cursus mauris ut.
              Enim fermentum maecenas rutrum dapibus sodales quis.</p>
            <div class="d-flex gap-lg-4 gap-3 justify-content-md-start justify-content-center">
              <div>
                <a href="Programs.html" class="hover1">Get Started</a>
              </div>
              <div>
                <a href="Programs.html" class="hover2">View All Programs</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-3">
          <div class="position-relative h-100" data-aos="flip-left">
            <div class="d-flex flex-column justify-content-center align-items-center h-100">
              <figure class="d-flex justify-content-center align-items-center">
                <img src="assets/images/icon/programs3.svg" alt="programs3">
              </figure>
              <div class="text-center flex-grow-1">
                <h5>Nursery Class</h5>
                <p>Lorem ipsum dolor sit amet consectetur.</p>
              </div>
              <div class="position-absolute"></div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-3">
          <div class="position-relative h-100" data-aos="flip-left">
            <div class="d-flex flex-column justify-content-center align-items-center h-100">
              <figure class="d-flex justify-content-center align-items-center">
                <img src="assets/images/icon/programs4.svg" alt="programs4">
              </figure>
              <div class="text-center flex-grow-1">
                <h5>Pre Kindergarten</h5>
                <p>Lorem ipsum dolor sit amet consectetur.</p>
              </div>
              <div class="position-absolute"></div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-3">
          <div class="position-relative h-100" data-aos="flip-left">
            <div class="d-flex flex-column justify-content-center align-items-center h-100">
              <figure class="d-flex justify-content-center align-items-center">
                <img src="assets/images/icon/programs5.svg" alt="programs5">
              </figure>
              <div class="text-center flex-grow-1">
                <h5>Summer Camps</h5>
                <p>Lorem ipsum dolor sit amet consectetur.</p>
              </div>
              <div class="position-absolute"></div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-3">
          <div class="position-relative h-100" data-aos="flip-left">
            <div class="d-flex flex-column justify-content-center align-items-center h-100">
              <figure class="d-flex justify-content-center align-items-center">
                <img src="assets/images/icon/programs6.svg" alt="programs6">
              </figure>
              <div class="text-center flex-grow-1">
                <h5>After School</h5>
                <p>Lorem ipsum dolor sit amet consectetur.</p>
              </div>
              <div class="position-absolute"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>