	<% if (clients.length > 0) { %>
  <!-- :: Sponsors -->
  <div class="sponsors">
    <div class="container">
      <div class="sponsors-carousel owl-carousel owl-theme">

        <% clients.forEach((client) => { %>
          <a href="<%= client.link %>">
          <div class="sponsors-box-item">
            <img class="img-fluid" src="<%= process.env.S3_BASE_URL + client.logo %>" alt="<%= client.name %>">
          </div>
          </a>
        <% }) %>
      </div>
    </div>
  </div>
  <% } %>