<section class="Newsletter">
    <div class="container">
      <div class="row flex-md-row flex-column-reverse">
        <div class="col-lg-6 col-md-6">
          <figure class="d-flex justify-content-center align-items-center h-100" data-aos="zoom-in-up">
            <img class="w-100" src="assets/images/index/train.webp" alt="train">
          </figure>
        </div>
        <div class="col-lg-6 col-md-6">
          <div class="d-flex flex-column text-md-start text-center" data-aos="fade-up">
            <h2>Subscribe Our Newsletter</h2>
            <p>Lorem ipsum dolor sit amet consectetur. Quis sed donec quis nunc aliquet cursus mauris ut.
              Enim fermentum.</p>
            <form class="d-flex">
              <input type="email" placeholder="Type Your Email" required name="Newsletter_Email">
              <button class="hover1">Subscribe</button>
            </form>
            <div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
              aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <img src="assets/images/icon/Confirmation_1.gif" alt="submitIcon">
                  <div>
                    <h4>Response Submitted</h4>
                    <h6>Your details have been successfully submitted. Thanks</h6>
                  </div>
                  <button type="button" class="hover2 m-auto" data-bs-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>