<section class="About" style="margin: 7px;">
    <div class="container" style="max-width: 1300px;">
      <div class="row" style="align-items: flex-start; justify-content:space-between">
        <div class="col-lg-6 col-md-8">
          <div class="d-flex flex-column justify-content-lg-center h-100 position-relative" data-aos="fade-up">
            <h2 style="color: #1F0B45;">Discover the World of Learning at
              Alphabetz Preschool</h2>
            <p style="color: #565656;
    padding: 40px 16px 25px 0px; line-height:26px">Welcome to the World of Eddy, where every child embarks on a journey of discovery, creativity, and growth. At Alphabetz Preschool Dongargarh, we offer quality early education designed to foster cognitive, physical, and emotional development through engaging, hands-on learning.</p>
            <p style="color: #565656; line-height:26px; padding-bottom:40px; margin:4px">
               <span style="font-style: italic;"><b> Founded by Nikita Jain</b></span>, a passionate and energetic leader, Alphabetz is committed to providing a nurturing environment where children explore, imagine, and develop a lifelong love of learning.
            </p>
            <div>
              <img class="bounce-slow" src="assets/images/icon/kite.svg" alt="kite">
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-8">
          <div class="d-flex position-relative" data-aos="fade-up">
            <figure class="w-100" style="display: flex; justify-content:center">
              <img class="w-100 " style="max-height: 650px; max-width:500px" src="/assets/images/OurCurriculumNurturingEveryChild.webp" alt="About_Img">
            </figure>
            
            <div><img src="assets/images/icon/baloons.svg" alt="baloon" class="bounce-slow"></div>
          </div>
        </div>
      </div>
    </div>
  </section>