<section class="Learning">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-md-6">
          <div class="d-flex flex-column">
            <div class="text-md-start text-center" data-aos="fade-up">
              <h1>Play-Based Learning</h1>
              <p>Lorem ipsum dolor sit amet consectetur. Quis sed donec quis nunc aliquet cursus mauris
                ut. Enim fermentum maecenas rutrum dapibus sodales quis.</p>
            </div>
            <div class="d-flex flex-column gap-4">
              <div class="d-flex gap-lg-3" data-aos="fade-up">
                <figure class="rounded-circle d-flex justify-content-center align-items-center">
                  <img src="assets/images/icon/Clipboard.svg" alt="Clipboard">
                </figure>
                <div>
                  <h6>Reading & Writing</h6>
                  <p class="pt-1">Lorem Ipsum is simply dummy text of the printing.</p>
                </div>
              </div>
              <div class="d-flex gap-lg-3" data-aos="fade-up">
                <figure class="rounded-circle d-flex justify-content-center align-items-center">
                  <img src="assets/images/icon/SchoolBell.svg" alt="SchoolBell">
                </figure>
                <div>
                  <h6>Events & Party</h6>
                  <p class="pt-1">Lorem Ipsum is simply dummy text of the printing.</p>
                </div>
              </div>
            </div>
            <div class="mt-lg-5 mt-4">
              <a href="/about" class="hover1">Learn More
                <span class="visually-hidden"> about Alphabetz Preschool and its unique learning approach.</span>
              </a>
            </div>
            
            <style>
              .visually-hidden {
                position: absolute;
                width: 1px;
                height: 1px;
                padding: 0;
                margin: -1px;
                overflow: hidden;
                clip: rect(0, 0, 0, 0);
                border: 0;
              }
            </style>
            
          </div>
        </div>
        <div class="col-lg-7 col-md-6">
          <div class="position-relative d-flex justify-content-md-end justify-content-center">
            <figure>
              <img class="rounded-circle w-100" src="assets/images/index/bookOnHead.webp" alt="bookOnHead"
                data-aos="zoom-in-up">
            </figure>
            <div>
              <div>
                <img class="position-absolute bounce-slow" src="assets/images/index/learning_Plane.webp" alt="plane">
              </div>
              <div>
                <img class="position-absolute rotate-animation" src="assets/images/index/turtle.webp" alt="turtle">
              </div>
              <div>
                <img class="position-absolute bounce-slow" src="assets/images/icon/learning_wand.svg" alt="magicWand">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>