

	<!-- :: Services -->
  <section class="services home-2">
    <div class="bg-section">
              <div class="overlay overlay-2"></div>
          </div>
    <div class="container">
      <div class="sec-title home-2">
                  <div class="row">
                      <div class="col-lg-5">
                          <h2>Services we offer</h2>
                          <h3>High-Quality Supply Solutions for Multiple Industries</h3>
                      </div>
                      <div class="col-lg-5 d-flex align-items-center">
                          <p class="sec-explain"> Magic Global Ventures serves a wide range of industries through our trusted network of international manufacturers and partners, ensuring reliable sourcing and export support.
                          </p>
                      </div>
                  </div>
              </div>
      <div class="services-carousel owl-carousel owl-theme">
                  <div class="services-carousel-item item-1">
          <a class='services-item-img-box' href='/' style='background-image: url(/assets/images/services/01_services-item.jpg)'><span></span></a>
                      <div class="item-box">
            <i class="ar-icons-tank"></i>
            <div class="content-box">
              <h4>Oil &amp; Gas <br>Equipment</h4>
              <p>Comprehensive range of process, static, and rotating equipment for upstream and downstream operations.</p>
              <a class='more' href='/'>Read More</a>
            </div>
          </div>
                  </div>

                  <div class="services-carousel-item item-2">
                    <a class='services-item-img-box' href='/' style='background-image: url(assets/images/services/04_services-item.jpg)'><span></span></a>
                                <div class="item-box">
                      <i class="ar-icons-factory-machine"></i>
                      <div class="content-box">
                        <h4>Mechanical<br>Systems</h4>
                        <p>Precision-engineered pumps, compressors, skids, and industrial machinery for varied applications.</p>
                        <a class='more' href='/'>Read More</a>
                      </div>
                    </div>
                            </div>


                            <div class="services-carousel-item item-3">
                              <a class='services-item-img-box' href='/' style='background-image: url(/assets/images/services/06_services-item.jpg)'><span></span></a>
                                          <div class="item-box">
                                <i class="ar-icons-conveyor-1"></i>
                                <div class="content-box">
                                  <h4>Construction <br>Material</h4>
                                  <p> Supplying cement, steel, aggregates, tiles, paints, and finishing materials for global infrastructure.
                                </p>
                                  <a class='more' href='/'>Read More</a>
                                </div>
                              </div>
                                      </div>

     
                                      <div class="services-carousel-item item-4">
                                        <a class='services-item-img-box' href='/' style='background-image: url(/assets/images/services/05_services-item.jpg)'><span></span></a>
                                                    <div class="item-box">
                                          <i class="ar-icons-conveyor"></i>
                                          <div class="content-box">
                                            <h4>Electrical & <br>Instrumentation</h4>
                                          <p> Exporting certified electrical systems, cables, instruments, and control panels across industries.
                                        </p>
                                            <a class='more' href='/'>Read More</a>
                                          </div>
                                        </div>
                                                </div>
        
              </div>
    </div>
  </section>