<!-- :: Provide 2 -->
<section class="provide-2 py-100">
  <div class="bg-section">
      <div class="overlay overlay-2"></div>
  </div>
  <div class="container">
      <div class="row">
          <div class="col-lg-6">
              <div class="sec-title home-3">
                  <h2>Trusted Global Importer & Exporter</h2>
                  <h3>We Help You Grow Beyond Borders</h3>
              </div>
              <div class="provide-btn">
                  <a class="btn-1" href="/"><span>Our Brochure</span></a>
                  <a class='btn-1 btn-4' href='/'><span>Meet Our Team</span></a>
              </div>
              <div class="have-experience">
                  <i class="ar-icons-warehouse"></i>
                  <h5>We bring decades of combined trade and technical experience to deliver quality, consistency, and excellence in every shipment.</h5>
              </div>
          </div>
          <div class="col-lg-6">
              <!-- :: FAQs -->
              <div class="faq">
                  <div class="faq-box">
                      <button class="btn btn-primary click" type="button" data-bs-toggle="collapse" data-bs-target="#faqs-1" aria-expanded="false" aria-controls="faqs-1">How can I partner with Magic Global Ventures?<i class="fas fa-angle-right"></i>
                      </button>
                      <div class="collapse show" id="faqs-1">
                          <div class="card card-body about-text">
                              <b> Magic Global Ventures is a leading import–export and supply company based in Dubai, serving industries across Oil & Gas, Petrochemical, Power, and Construction sectors worldwide.</b>
                          </div>
                      </div>
                  </div>

                  <div class="faq-box">
                      <button class="btn btn-primary click" type="button" data-bs-toggle="collapse" data-bs-target="#faqs-2" aria-expanded="false" aria-controls="faqs-2">Where can I explore your product categories?<i class="fas fa-angle-right"></i>
                      </button>
                      <div class="collapse" id="faqs-2">
                          <div class="card card-body about-text">
                            Magic Global Ventures is a leading import–export and supply company based in Dubai, serving industries across Oil & Gas, Petrochemical, Power, and Construction sectors worldwide.
                          </div>
                      </div>
                  </div>
                  <div class="faq-box">
                      <button class="btn btn-primary click" type="button" data-bs-toggle="collapse" data-bs-target="#faqs-3" aria-expanded="false" aria-controls="faqs-3">How do you ensure quality and delivery timelines?<i class="fas fa-angle-right"></i>
                      </button>
                      <div class="collapse" id="faqs-3">
                          <div class="card card-body about-text">
                            Magic Global Ventures is a leading import–export and supply company based in Dubai, serving industries across Oil & Gas, Petrochemical, Power, and Construction sectors worldwide.
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      
      <!-- :: Get Update -->
      <div class="get-update">
          <div class="row">
              <div class="col-lg-4">
                  <h5>Get Your Free<span> Global supply</span> Consultation</h5>
              </div>
              <div class="col-lg-4 d-flex justify-content-center align-items-center">
                  <div class="phone">
                      <a href="tel: +971501560131" class="pulse">
                          <i class="ar-icons-phone"></i>
                      </a>
                  </div>
              </div>
              <div class="col-lg-4 d-flex align-items-center justify-content-between">
                  <div>
                      <a class="phone-mail" href="tel:+971501560131"> +971 501560131</a>
                      <a class="phone-mail" href="mailto:info@mgvdubai.com">info@mgvdubai.com</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>