    <!-- :: About US -->
    <section class="about-us home-2 py-100" id="start">
      <div class="container">
          <div class="row">
              <div class="col-lg-7">
                  <div class="about-us-text-box">
                      <div class="sec-title home-2">
                          <h2>Welcome</h2>
                          <h3>Delivering Global Supply Excellence</h3>
                          <p class="sec-explain"> Magic Global Ventures is a global importer, exporter, and supplier of industrial and construction materials. With a strong base in Dubai and India, we cater to Oil & Gas, Petrochemical, Power, and Infrastructure industries across the GCC, Africa, and Asia.
                          </p>
                      </div>
             
        <div class="features-style-2">
          <div class="row">
            <div class="col-sm-6">
              <div class="item">
                <i class="ar-icons-toolbox"></i>
                <div class="content-box">
                  <h5>Best Certified<br>Solutions</h5>
                  <p>We partner with internationally accredited manufacturers to ensure quality, safety, and performance in every supply.</p>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="item">
                <i class="ar-icons-trolley"></i>
                <div class="content-box">
                  <h5>Fast &<br>Reliable  delivery</h5>
                  <p> Our strong global logistics network ensures timely delivery and seamless export operations worldwide.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="about-btn">
                          <a class='btn-1 btn-3' href='/about'><span>More About Us</span></a>
                      </div>
                  </div>
              </div>
    <div class="col-lg-5">
                  <div class="about-us-img-box">
      
                      <div class="img-box" style="background-image: url(/assets/images/about-us/02_about-us.jpg)"></div>
     
                  </div>
              </div>
          </div>
      </div>
  </section>