<section class="Enroll">
    <div class="container">
      <div class="d-flex justify-content-center align-items-center text-center flex-column" data-aos="fade-up">
        <h1>Nurturing Young Hearts And Minds</h1>
        <p style="margin: 0 5px;">At Alphabetz Preschool, Dongargarh, we nurture curiosity, creativity, and confidence in every child. Our engaging and interactive learning environment helps young learners build essential skills, explore new ideas, and develop a lifelong love for learning. With a blend of fun activities and foundational education, we ensure your child’s first step toward a successful future is joyful and meaningful..</p>
        <div class="d-flex w-100 justify-content-center align-items-center">
          <a href="/admission" style="max-width: 175px;" class="hover1">Join Us Now</a>
        </div>
      </div>
    </div>
  </section>