<%- include('header'), {seoDetails} %>

<section class="about-section">
  <div class="img-bg-day banner-height"></div>
  <div class="prweport">
    <div class="container">
      <div class="main-inner-text">
        <div class="inner-wapper">
          <div class="row">
            <div class="col-md-6">
              <div class="main-bread">
                <div class="bread-heing"><h1>A Day at Alphabetz</h1></div>
              </div>
            </div>
            <div class="col-md-6"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="pre-setion-bottom">
    <img src="/assets/images/bottom_white_wave_03.webp" alt="" />
  </div>
</section>
<section class="pre-vision aboutbg new-padding-top" style="margin: 15px;">
  <div class="pre-conent">
    <div class="container-vision wisdth flecobjet2">
      <div class="row padd-right new-padding-bottom">
        <div class="col-lg-6 align-self-center">
          <div class="content-holder">
            <div class="holder-inner">
              <img
                src="/assets/images/day/alphabetz-preschoolmascot-hi.webp"
                alt=""
              />
            </div>
          </div>
        </div>
        <div class="col-lg-6 align-self-center">
          <div class="abou-heding">
            <span><img src="/assets/images/green_leaf.png" alt="" /></span>
            <h2>A Day at Alphabetz</h2>
          </div>
          <p>
            At <strong>Alphabetz Preschool , Dongargarh</strong>, each day is
            filled with meaningful experiences designed to nurture the holistic
            development of children. We believe that a well-balanced day,
            combining learning, play, and creativity, is key to fostering growth
            and curiosity. Our curriculum is carefully structured to ensure that
            every child receives the right balance of academic learning and fun,
            interactive experiences.
          </p>
        </div>
      </div>
      <div class="row padd-left flex-deouti new-padding-bottom">
        <div class="col-lg-6 align-self-center">
          <div class="abou-heding">
            <span><img src="/assets/images/green_leaf.png" alt="" /></span>
            <h2>Morning Welcome and Circle Time</h2>
          </div>
          <p>
            The day at Alphabetz begins with a warm welcome as children arrive,
            settling into a safe and familiar environment. Our teachers greet
            the children with enthusiasm, helping them transition from home to
            school seamlessly. The first activity of the day is Circle Time, a
            group session where children gather to greet each other, share
            stories, and discuss the day ahead. This time is vital for
            developing communication skills, building relationships, and
            encouraging social interaction among peers.
          </p>
        </div>
        <div class="col-lg-6 align-self-center">
          <div class="content-holder">
            <div class="holder-inner">
              <img
                src="/assets/images/day/alphabetz-preschoolmascot-hi.webp"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
      <div class="row padd-right new-padding-bottom">
        <div class="col-lg-6 align-self-center">
          <div class="content-holder">
            <div class="holder-inner">
              <img src="/assets/images/day/Aboutwebelieve.webp" alt="" />
            </div>
          </div>
        </div>
        <div class="col-lg-6 align-self-center">
          <div class="abou-heding">
            <span><img src="/assets/images/green_leaf.webp" alt="" /></span>
            <h2>Thematic Learning Sessions</h2>
          </div>
          <p>
            At Alphabetz, our thematic learning sessions focus on integrating
            various subjects such as math, science, language, and arts in a fun,
            engaging way. These lessons are tailored to meet the developmental
            needs of each child, fostering critical thinking, creativity, and
            problem-solving skills. Our educators use a range of materials and
            resources, including Montessori-inspired tools and tech-enabled
            apps, to make the learning process dynamic and interactive.
          </p>
        </div>
      </div>
      <div class="row flex-deouti padd-left new-padding-bottom flecobjet2">
        <div class="col-lg-6 align-self-center" style="padding: 0;">
          <div class="abou-heding">
            <span><img src="/assets/images/green_leaf.webp" alt="" /></span>
            <h2>Hands-on Play Exploration</h2>
            <p>
              Children at Alphabetz love the time spent in hands-on exploration.
              Whether it’s engaging with sensory play materials, building with
              blocks, or experimenting with water and sand, this time allows
              children to learn through discovery. Play is an essential part of
              our curriculum, and it serves as the foundation for building
              cognitive, social, and physical skills.
            </p>
          </div>
        </div>
        <div class="col-lg-6 align-self-center">
          <div class="content-holder">
            <div class="holder-inner">
              <img
                src="/assets/images/alphabetz%20preschool-mascotsport.webp"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
      <div class="row padd-right new-padding-bottom">
        <div class="col-lg-6 align-self-center">
          <div class="content-holder">
            <div class="holder-inner">
              <img
                src="/assets/images/alphabetz%20preschool-mascotsport.webp"
                alt=""
              />
            </div>
          </div>
        </div>
        <div class="col-lg-6 align-self-center">
          <div class="abou-heding">
            <span><img src="/assets/images/green_leaf.png" alt="" /></span>
            <h2>Outdoor Play and Physical Activity</h2>
          </div>
          <p>
            After a morning of focused learning, children get the opportunity to
            enjoy outdoor play in our well-designed play areas. Activities such
            as climbing, running, and playing with peers help children develop
            gross motor skills and understand the importance of teamwork and
            cooperation. Outdoor play also encourages exploration and provides
            an essential break, allowing children to recharge before their next
            session.
          </p>
        </div>
      </div>
      <div class="row flex-deouti padd-left new-padding-bottom">
        <div class="col-lg-6 align-self-center">
          <div class="abou-heding">
            <span><img src="/assets/images/green_leaf.webp" alt="" /></span>
            <h2>Creative Arts and Music</h2>
            <p>
              Our afternoon sessions at Alphabetz are dedicated to creative arts
              and music, where children can express themselves freely. Through
              activities such as painting, drawing, dancing, and singing,
              children’s imaginations are allowed to flourish. These sessions
              are not only fun but also help in developing fine motor skills,
              coordination, and emotional expression.
            </p>
          </div>
        </div>
        <div class="col-lg-6 align-self-center">
          <div class="content-holder">
            <div class="holder-inner">
              <img
                src="/assets/images/day/alphabetz-preschoolmascot-main.webp"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
      <div class="row padd-right new-padding-bottom">
        <div class="col-lg-6 align-self-center">
          <div class="content-holder">
            <div class="holder-inner">
              <img
                src="/assets/images/day/alphabetz-preschool-mascot-sleeping.webp"
                alt=""
              />
            </div>
          </div>
        </div>
        <div class="col-lg-6 align-self-center">
          <div class="abou-heding">
            <span><img src="/assets/images/green_leaf.png" alt="" /></span>
            <h2>Storytelling and Quiet Time</h2>
          </div>
          <p>
            The day often winds down with a quiet moment of storytelling.
            Teachers share captivating stories that capture the children’s
            imaginations and teach valuable lessons. This calm, reflective time
            is an essential part of the day, helping children to wind down,
            listen actively, and relax before heading home.
          </p>
        </div>
      </div>
      <div class="row flex-deouti padd-left new-padding-bottom">
        <div class="col-lg-6 align-self-center">
          <div class="abou-heding">
            <span><img src="/assets/images/green_leaf.webp" alt="" /></span>
            <h2>End-of-Day Reflection</h2>
            <p>
              At the end of the day, children gather once more to reflect on
              what they’ve learned. Teachers encourage them to share their
              experiences, thoughts, and feelings about the day. This reflection
              helps reinforce the day’s lessons and fosters a sense of
              accomplishment and confidence in each child.
            </p>
          </div>
        </div>
        <div class="col-lg-6 align-self-center">
          <div class="content-holder">
            <div class="holder-inner">
              <img
                src="/assets/images/day/alphabetz-preschoolmascotgoing%20toschool.webp"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="pre-setion-bottom sectionbg2">
    <img src="assets/images/top_white_wave_03.webp" alt="" />
  </div>
</section>

<%- include('footer') %>
