<%- include('header'), {seoDetails} %>

<section class="about-section">
  <div class="img-bg-holder-about banner-height"></div>
  <div class="prweport">
    <div class="container">
      <div class="main-inner-text">
        <div class="inner-wapper">
          <div class="row">
            <div class="col-md-6 align-self-center">
              <div class="main-bread">
                <div class="bread-heing"><h1>About Us</h1></div>
              </div>
            </div>
            <div class="col-md-6"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="pre-setion-bottom">
    <img src="/assets/images/bottom_gray_wave_yellow_03.png" alt="" />
  </div>
</section>
<section class="pre-vision">
  <div class="pre-conent new-padding-bottom">
    <div class="container-vision">
      <div class="flecobjet new-padding-top">
        <div class="row padd-right new-padding-bottom">
          <div class="col-lg-6 align-self-center margin" >
            <div class="content-holder">
              <div class="holder-inner">
                <img src="assets/images/Ourvision.webp" alt="" />
              </div>
            </div>
          </div>
          <div class="col-lg-6 align-self-center margin" >
            <div class="abou-heding">
              <span><img src="assets/images/green_leaf.webp" alt="" /></span>
              <h2>Our Vision</h2>
            </div>
            <p>
              At Alphabetz Preschool , Dongargarh , we believe in the
              transformative power of play and exploration. Our philosophy is
              centered on nurturing each child’s individuality by providing a
              safe, stimulating environment that encourages holistic
              development—social, emotional, physical, and cognitive. Through
              hands-on, play-based learning, our dedicated educators create
              personalized experiences that celebrate every child's uniqueness,
              fostering confidence and a positive self-image. With our thematic
              curriculum and tech-enabled learning tools, we empower young minds
              to embrace learning with passion and curiosity from an early age.
            </p>
          </div>
        </div>
      </div>
      <div class="row flex-deouti padd-left new-padding-bottom flecobjet2">
        <div class="col-lg-6 align-self-center margin w-94 padding">
          <div class="abou-heding">
            <span><img src="/assets/images/green_leaf.webp" alt="" /></span>
            <h2>Our Mission</h2>
          </div>
          <p>
            The mission of Alphabetz Preschool , Dongargarh is to provide a
            nurturing and stimulating environment where children can explore,
            learn, and grow. We are committed to offering a value-for-money
            preschool experience with an international standard curriculum,
            empowering young minds through play-based learning and hands-on
            activities. Our goal is to foster holistic development, inspire
            creativity, and instill confidence, while promoting transparency,
            honesty, and innovation for both students and franchise partners.
          </p>
        </div>
        <div class="col-lg-6 align-self-center margin w-94 "  style="padding: 0;">
          <div class="content-holder">
            <div class="holder-inner">
              <img src="/assets/images/OurMissionPreschool.webp" alt="" />
            </div>
          </div>
        </div>
      </div>
      <div class="flecobjet">
        <div class="row padd-right new-padding-bottom">
          <div class="col-lg-6 align-self-center margin">
            <div class="content-holder">
              <div class="holder-inner">
                <img src="/assets/images/Backedbyexperts.webp" alt="" />
              </div>
            </div>
          </div>
          <div class="col-lg-6 align-self-center margin" >
            <div class="abou-heding">
              <span><img src="assets/images/green_leaf.webp" alt="" /></span>
              <h2>Backed by Experts</h2>
            </div>
            <p>
              Alphabetz Preschool , Dongargarh is backed by a team of early
              childhood education experts and supported by its parent company,
              the Ashoka Group, a trusted name since 1969. With decades of
              experience, the Ashoka Group ensures that Alphabetz maintains high
              standards in curriculum development, teacher training, and
              operational excellence. Together, they deliver a well-rounded,
              value-driven education that fosters growth and development in
              young learners across India.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="pre-setion-bottom">
      <img src="assets/images/bottom_white_wave_01.webp" alt="" />
    </div>
  </div>
</section>
<section class="we-believ-secti new-padding-top new-padding-bottom" ">
  <div class="pre-conent">
    <div class="wisdth">
      <div class="row flex-deouti">
        <div class="col-lg-6">
          <div class="abou-heding">
            <h2 class="main-heding">
              <span><img src="/assets/images/green_leaf.webp" alt="" /></span>
              <h2>We Believe...</h2>
            </h2>
          </div>
          <ul class="weblivelist flecobjet2">
            <li>
              <span><i class="fa-solid fa-calendar-days"></i></span>
              <span>
                <h3 style="color: #e33d5c">Child-Centered Learning</h3>
                <p>
                  At Alphabetz, we believe every child is unique. Our approach
                  focuses on nurturing individuality through personalized
                  learning experiences that foster creativity, curiosity, and a
                  love for learning.
                </p>
              </span>
            </li>
            <li>
              <span><i class="fa-solid fa-award"></i></span>
              <span>
                <h3 style="color: #e33d5c">Holistic Development</h3>
                <p>
                  We emphasize the all-round development of children by
                  promoting social, emotional, physical, and cognitive growth.
                  Our curriculum is designed to create a balanced, engaging
                  environment for young minds.
                </p>
              </span>
            </li>
            <li>
              <span><i class="fa-solid fa-award"></i></span>
              <span>
                <h3 style="color: #e33d5c">Technology-Enhanced Education</h3>
                <p>
                  Blending traditional teaching methods with modern technology,
                  Alphabetz integrates digital tools and resources to enhance
                  learning, ensuring that children are well-prepared for the
                  future in an ever-evolving world.
                </p>
              </span>
            </li>
          </ul>
        </div>
        <div class="col-lg-6">
          <div class="frogbg">
            <div class="bg-holder">
              <img src="/assets/images/Aboutwebelieve.webp" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="pre-team">
  <div class="pre-conent">
    <div class="abou-heding text-center pdding-bttm">
      <span class="king"
        ><img src="/assets/images/floating_image_01.webp" alt=""
      /></span>
      <h2>Our Management</h2>
    </div>
    <div class="galley-slider new-pdding-bottom-30 w-94" style="width:100%;">
      
      <div class="swiper mySwiper">
        <div class="swiper-wrapper">
          <div class="box custom-box custom-box1">
            <a href="#">
              <div class="cllases1-team">
                <div class="clles-card">
                  <div class="text-iinwe newtextline">
                    <h4>Nikita Jain</h4>
                    <p>Founder & Director</p>
                  </div>
                  <div class="imginner-crd-1 imgcard1">
                    <div class="inner-cllase-bg-team">
                      <img
                        src="/assets/images/1.png"
                        alt=""
                        loading="lazy"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>

          <div class="box custom-box custom-box1 cltem3">
            <a href="#">
              <div class="cllases1-team">
                <div class="clles-card">
                  <div class="text-iinwe newtextline">
                    <h4 style="color: #000">Neelam Chopda</h4>
                    <p style="color: #000">Co Founder</p>
                  </div>
                  <div class="imginner-crd-1">
                    <div class="inner-cllase-bg-team">
                      <img
                        src="assets/images/3.png"
                        alt=""
                      />
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>

          <div class="box custom-box custom-box1">
            <a href="#">
              <div class="cllases1-team">
                <div class="clles-card">
                  <div class="text-iinwe newtextline">
                    <h4>Mansi Tatiya</h4>
                    <p>Co Founder</p>
                  </div>
                  <div class="imginner-crd-1">
                    <div class="inner-cllase-bg-team">
                      <img src="assets/images/2.png" alt="" />
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
       
      </div>
    </div>
  </div>
  <div class="pre-setion-bottom sectionbg2">
    <img src="assets/images/top_white_wave_03.webp" alt="" />
  </div>
</section>
<style>
    .box {
      max-width: 435px;
      max-height: 411px;
      width: 100%;
      height: 100%;
    }
    .padding{
      padding: 0 !important;
      padding-left: 15px !important;
    }
    
    .pre-team .swiper-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;
    }
    .we-believ-secti{
      max-width: 1350px;
      margin: 2px auto;
    }
    @media (max-width:1350px) {
      .we-believ-secti{
          margin: 20px;
        }
    }
    @media (max-width:992px) {
      .margin{
          margin: 15px;
      }
      .padding{
        padding-left: 0 !important;
      }
      .w-94{
          width: 94% !important;
      }
    }
  
  .owl-item {
    max-width: 500px !important;
    width: 66%;
    margin: 20px;
  }
</style>
<%- include('footer') %>
