<%- include('header'), {seoDetails} %>

<section class="about-section">
  <div class="img-bg-holder-commits banner-height"></div>
  <div class="prweport">
    <div class="container">
      <div class="main-inner-text">
        <div class="inner-wapper">
          <div class="row">
            <div class="col-md-6">
              <div class="main-bread">
                <div class="bread-heing">
                  <h1>Alphabetz Commits</h1>
                </div>
              </div>
            </div>
            <div class="col-md-6"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="pre-setion-bottom">
    <img
      src="/assets/images/bottom_white_wave_03.webp"
      alt="Alphabetz Commitments"
    />
  </div>
</section>
<section class="pre-vision aboutbg new-padding-top new-padding-bottom">
  <div class="pre-conent wisdth paddibot">
    <div class="container-vision flecobjet2 ">
      <div class="row">
        <div class="col-lg-6">
          <div class="content-holder">
            <div class="holder-inner">
              <img
                src="/assets/images/commits/AlphabetzPreschoolMascotaward.webp"
                alt="Alphabetz Commitments"
              />
            </div>
          </div>
        </div>
        <div class="col-lg-6" style="padding: 25px;">
          <div class="abou-heding">
            <span
              ><img
                src="/assets/images/green_leaf.webp"
                alt="Alphabetz Commitments"
            /></span>
            <h2 class="main-heding">Physical Development and Motor Skills</h2>
          </div>
          <p>
            At Alphabetz Preschool , Dongargarh , we provide a variety of
            physical activities that cater to developing both gross and fine
            motor skills in young learners. From structured physical education
            classes to free play and yoga sessions, we ensure that children
            engage in physical activities that boost their health, agility, and
            coordination. These activities are integral to building the
            foundation for an active lifestyle and aid in the holistic
            development of each child.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="pre-setion-bottom">
    <img
      src="/assets/images/bottom_gray_wave_yellow_03.png"
      alt="Alphabetz Commitments"
    />
  </div>
</section>
<section class="pre-vision">
  <div class="pre-conent">
    <div class="container-vision">
      <div class="flecobjet">
        <div class="row padd-right new-padding-top new-padding-bottom">
          <div class="col-lg-6 align-self-center">
            <div class="content-holder">
              <div class="holder-inner">
                <img
                  src="/assets/images/commits/Cognitive.webp"
                  alt="Alphabetz Commitments"
                />
              </div>
            </div>
          </div>
          <div class="col-lg-6 align-self-center" style="padding: 25px;">
            <div class="abou-heding">
              <span
                ><img
                  src="/assets/images/green_leaf.webp"
                  alt="Alphabetz Commitments"
              /></span>
              <h2>Cognitive Development</h2>
            </div>
            <p>
              Our cognitive development program at Alphabetz focuses on
              stimulating the young minds of our students through a blend of
              interactive and challenging activities. These include puzzles,
              logical reasoning games, and hands-on science experiments that
              enhance their problem-solving skills. We also incorporate advanced
              educational technologies to further enrich their learning
              experience, ensuring that each child develops strong analytical
              and cognitive abilities from an early age.
            </p>
          </div>
        </div>
      </div>
      <div class="row flex-deouti padd-left new-padding-bottom flecobjet2">
        <div class="col-lg-6 align-self-center">
          <div class="abou-heding">
            <span
              ><img
                src="/assets/images/green_leaf.webp"
                alt="Alphabetz Commitments"
            /></span>
            <h2>Language and Literacy</h2>
          </div>
          <p>
            Language development is a cornerstone of our curriculum at
            Alphabetz, where we foster an environment rich in verbal and written
            communication. Through engaging storytelling sessions, interactive
            phonics programs, and multilingual exposure, children enhance their
            vocabulary and linguistic structures. This multi-faceted approach
            not only strengthens early reading and writing skills but also
            builds confidence in their ability to express themselves
            effectively.
          </p>
        </div>
        <div class="col-lg-6 align-self-center">
          <div class="content-holder">
            <div class="holder-inner">
              <img
                src="/assets/images/commits/languages.webp"
                alt="Alphabetz Commitments"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="flecobjet new-pdding-bottom-30">
        <div class="row padd-right new-padding-bottom">
          <div class="col-lg-6 align-self-center">
            <div class="content-holder">
              <div class="holder-inner">
                <img
                  src="/assets/images/commits/SocialSkills.webp"
                  alt="Alphabetz Commitments"
                />
              </div>
            </div>
          </div>
          <div class="col-lg-6 align-self-center" style="padding: 25px;">
            <div class="abou-heding">
              <span
                ><img
                  src="/assets/images/green_leaf.webp"
                  alt="Alphabetz Commitments"
              /></span>
              <h2>Emotional and Social Skills</h2>
            </div>
            <p>
              At Alphabetz, we prioritize the development of emotional and
              social skills by creating a supportive and inclusive environment.
              Our programs encourage empathy, teamwork, and social interaction
              through group activities and collaborative projects. We also focus
              on emotional self-regulation, teaching children to understand and
              manage their emotions, which is essential for building strong
              interpersonal relationships and fostering a positive classroom
              atmosphere.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="pre-setion-bottom">
      <img
        src="/assets/images/bottom_white_wave_01.webp"
        alt="Alphabetz Commitments"
      />
    </div>
  </div>
</section>
<section class="pre-vision aboutbg">
  <div class="pre-conent">
    <div class="container-vision new-padding-top flecobjet2">
      <div class="row flex-deouti padd-left new-padding-bottom">
        <div class="col-lg-6 align-self-center" style="padding: 25px;">
          <div class="abou-heding">
            <span
              ><img
                src="/assets/images/green_leaf.webp"
                alt="Alphabetz Commitments"
            /></span>
            <h2 class="main-heding">Values and Life Skills</h2>
          </div>
          <p>
            Incorporating core values and essential life skills into our
            curriculum, Alphabetz prepares children for the complexities of the
            real world. We teach critical thinking, decision-making, and the
            importance of integrity and respect through daily interactions and
            structured ethical discussions. These lessons are vital for
            instilling a moral framework that guides them in making thoughtful
            and principled choices.
          </p>
        </div>
        <div class="col-lg-6">
          <div class="content-holder">
            <div class="holder-inner">
              <img
                src="/assets/images/commits/ValuesandLife.webp"
                alt="Alphabetz Commitments"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="flecobjet new-padding-bottom">
        <div class="row padd-right new-padding-top">
          <div class="col-lg-6 align-self-center">
            <div class="content-holder">
              <div class="holder-inner">
                <img
                  src="/assets/images/commits/CreativityandInnovation.webp"
                  alt="Alphabetz Commitments"
                />
              </div>
            </div>
          </div>
          <div class="col-lg-6 align-self-center" style="padding: 25px;">
            <div class="abou-heding">
              <span
                ><img
                  src="/assets/images/green_leaf.webp"
                  alt="Alphabetz Commitments"
              /></span>
              <h2>Creativity and Innovation</h2>
            </div>
            <p>
              Creativity is at the heart of Alphabetz’s curriculum, where we
              encourage children to explore their artistic talents and think
              innovatively. Through music, art, and dramatic play, we provide
              outlets for creative expression and imaginative thinking. Our
              approach not only nurtures their artistic abilities but also
              enhances their cognitive flexibility and ability to solve problems
              creatively, which are crucial skills in today’s ever-changing
              world.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="pre-setion-bottom sectionbg2">
    <img
      src="/assets/images/top_white_wave_03.webp"
      alt="Alphabetz Commitments"
    />
  </div>
</section>

<%- include('footer') %>
