<footer class="footer">
  <div class="container">
      <div class="row">
          <div class="col-sm-12 col-md-6 col-lg-4">
              <div class="logo">
                  <img class="img-fluid" src="/assets/images/logo/MGV-coloured-logo.svg" alt="MGV_logo_footer">
                  <p>Leading industrial and construction solutions provider in UAE & India. Supplying oil & gas equipment, building materials, electricals, and more.
                </p>
              </div>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-2">
              <div class="footer-title">
                  <h4>Quick Links</h4>
              </div>
              <ul class="links">
                  <li><a href='/about'>About Us</a></li>
                  <li><a href='/products'>Our Products</a></li>
                  <li><a href='/gallery'>Projects &amp; Gallery</a></li>
                  <li><a href='/blogs'>Blogs &amp; News</a></li>
                  <li><a href='/career'>Careers</a></li>
                  <li><a href='/contact'>Contact Us</a></li>
              </ul>
          </div>
         
          <div class="col-sm-6 col-md-6 col-lg-3">
              <div class="footer-title">
                  <h4>Products</h4>
              </div>
              <ul class="links">
                  <% if (categories && categories.length > 0) { %>
                      <% categories.slice(0, 6).forEach(category => { %>
                          <li><a href='/products?category=<%= category._id %>'><%= category.name %></a></li>
                      <% }) %>
                  <% } else { %>
                      
                  <% } %>
              </ul>
          </div>

          <div class="col-sm-6 col-md-6 col-lg-3">
            <div class="footer-title">
                <h4>Address : Dubai</h4>
            </div>
            <ul class="links">
               <li><a target="_blank" href="https://www.google.com/maps/place/RAKEZ+Al+Hulaila+Industrial+Zone/@25.929254,56.052901,3699m/data=!3m1!1e3!4m6!3m5!1s0x3ef6656d56c8fdc3:0xce5e9421d77c4fd5!8m2!3d25.9292537!4d56.0529013!16s%2Fg%2F11hckbg49r?hl=en&entry=ttu&g_ep=EgoyMDI1MTAyMi4wIKXMDSoASAFQAw%3D%3D">VUNE 1327 Compass Building Al-hulaila,

                ALHulaila Industrial Zone-fz, Ras Al Khaimah,
                
                United Arab Emirates</a></li>
            </ul>
            <div class="footer-title">
                <h4>India office</h4>
            </div>
            <ul class="links">
                <li><a target="_blank" href="https://www.google.com/maps/place/Magic+paints,+Rawabhata,+Industrial+Area,+Bhanpuri,+Raipur,+Chhattisgarh+493221/@21.3174099,81.6393862,958m/data=!3m2!1e3!4b1!4m6!3m5!1s0x3a28e6fe51f4649f:0x3820cb9be899e419!8m2!3d21.31741!4d81.6442518!16s%2Fg%2F11kzz8yhkg?entry=ttu&g_ep=EgoyMDI1MTAyMi4wIKXMDSoASAFQAw%3D%3D">
                    Plot No 12, Rawabhata industrial Area, Raipur 493221, Chhattisgarh
                    </a></li>
             </ul>
        </div>
      </div>
  </div>
  <div class="copyright">
      <div class="container">
          <p>© 2025 <a href="/">Magic Global Ventures</a> All Rights Reserved.</p>
          <ul>
            <li style="font-size: 18px;" class="text-white ">Made with  <i style="font-size: 17px; padding-right: 0;" class="fa-solid fa-heart"></i>  by <a class="text-primary text-white-hover" href="https://technolitics.com">Technolitics</a></;li>
          </ul>
      </div>
  </div>
</footer>

<!-- :: Scroll UP -->
<div class="scroll-up">
  <a class="move-section" href="#page">
      <i class="fas fa-long-arrow-alt-up"></i>
  </a>
</div>

<!-- :: JavaScript Files -->
<!-- :: jQuery JS -->
<script src="/assets/js/jquery-3.6.0.min.js"></script>

<!-- :: Bootstrap JS Bundle With Popper JS -->
<script src="/assets/js/bootstrap.bundle.min.js"></script>

<!-- :: Owl Carousel JS -->
<script src="/assets/js/owl.carousel.min.js"></script>

<!-- :: Lity -->
<script src="/assets/js/lity.min.js"></script>

<!-- :: Nice Select -->
<script src="/assets/js/jquery.nice-select.min.js"></script>

<!-- :: Waypoints -->
<script src="/assets/js/jquery.waypoints.min.js"></script>



<%- include('./partials/popup.ejs') %>

<!-- :: CounterUp -->
<script src="/assets/js/jquery.counterup.min.js"></script>

<!-- :: Magnific Popup -->
<script src="/assets/js/jquery.magnific-popup.min.js"></script>

<script src="/assets/js/swiper-bundle.js"></script>

<!-- :: MixitUp -->
<script src="/assets/js/mixitup.min.js"></script>

<!-- :: Main JS -->
<script src="/assets/js/main.js"></script><script src="/assets/js/ajax-script.js"></script>