<footer class="footer">
  <div class="container">
      <div class="row">
          <div class="col-sm-12 col-md-6 col-lg-4">
              <div class="logo">
                  <img class="img-fluid" src="/assets/images/logo/download.png" alt="MGV_logo_footer">
                  <p>Leading industrial and construction solutions provider in UAE & India. Supplying oil & gas equipment, building materials, electricals, and more.
                </p>
              </div>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-2">
              <div class="footer-title">
                  <h4>Quick Links</h4>
              </div>
              <ul class="links">
                  <li><a href='/about'>About Us</a></li>
                  <li><a href='/products'>Our Products</a></li>
                  <li><a href='/gallery'>Projects &amp; Gallery</a></li>
                  <li><a href='/blogs'>Blogs &amp; News</a></li>
                  <li><a href='/career'>Careers</a></li>
                  <li><a href='/contact'>Contact Us</a></li>
              </ul>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-3">
              <div class="footer-title">
                  <h4>Industries We Serve</h4>
              </div>
              <ul class="links">
                  <li><a href='/products'>Oil &amp; Gas</a></li>
                  <li><a href='/products'>Petrochemical &amp; Refinery</a></li>
                  <li><a href='/products'>Construction &amp; Infrastructure</a></li>
                  <li><a href='/products'>Power &amp; Energy</a></li>
                  <li><a href='/products'>Industrial &amp; Mechanical</a></li>
                  <li><a href='/products'>Water &amp; Wastewater</a></li>
              </ul>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-3">
              <div class="footer-title">
                  <h4>Product Categories</h4>
              </div>
              <ul class="links">
                  <% if (categories && categories.length > 0) { %>
                      <% categories.slice(0, 6).forEach(category => { %>
                          <li><a href='/products?category=<%= category._id %>'><%= category.name %></a></li>
                      <% }) %>
                  <% } else { %>
                      <li><a href='/products'>All Products</a></li>
                  <% } %>
              </ul>
          </div>
      </div>
  </div>
  <div class="copyright">
      <div class="container">
          <p>© 2025 <a href="/">Magic Global Ventures</a> All Rights Reserved.</p>
          <ul>
            <li style="font-size: 18px;" class="text-white ">Made with  <i class="fa-solid fa-heart"></i>  by <a class="text-primary text-white-hover" href="https://technolitics.com">Technolitics</a></;li>
          </ul>
      </div>
  </div>
</footer>

<!-- :: Scroll UP -->
<div class="scroll-up">
  <a class="move-section" href="#page">
      <i class="fas fa-long-arrow-alt-up"></i>
  </a>
</div>

<!-- :: JavaScript Files -->
<!-- :: jQuery JS -->
<script src="/assets/js/jquery-3.6.0.min.js"></script>

<!-- :: Bootstrap JS Bundle With Popper JS -->
<script src="/assets/js/bootstrap.bundle.min.js"></script>

<!-- :: Owl Carousel JS -->
<script src="/assets/js/owl.carousel.min.js"></script>

<!-- :: Lity -->
<script src="/assets/js/lity.min.js"></script>

<!-- :: Nice Select -->
<script src="/assets/js/jquery.nice-select.min.js"></script>

<!-- :: Waypoints -->
<script src="/assets/js/jquery.waypoints.min.js"></script>



<%- include('./partials/popup.ejs') %>

<!-- :: CounterUp -->
<script src="/assets/js/jquery.counterup.min.js"></script>

<!-- :: Magnific Popup -->
<script src="/assets/js/jquery.magnific-popup.min.js"></script>

<script src="/assets/js/swiper-bundle.js"></script>

<!-- :: MixitUp -->
<script src="/assets/js/mixitup.min.js"></script>

<!-- :: Main JS -->
<script src="/assets/js/main.js"></script><script src="/assets/js/ajax-script.js"></script>