<footer class="footer">
  <div class="container">
      <div class="row">
          <div class="col-sm-12 col-md-6 col-lg-3">
              <div class="logo">
                  <img class="img-fluid" src="assets/images/logo/01_logo.png" alt="Footer Logo">
                  <p>Gazolin Are A Industry &amp; Manufacturing Services Provider Institutions. Suitable For Factory, Manufacturing, Industry, Engineering, Construction And Any Related Industry Care Field.</p>
              </div>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-2">
              <div class="footer-title">
                  <h4>Quick Link</h4>
              </div>
              <ul class="links">
                  <li><a href='01_about-us.html'>About Us</a></li>
                  <li><a href='01_team.html'>Meet Our Team</a></li>
                  <li><a href="02_blog.html">Read All News</a></li>
                  <li><a href='01_projects.html'>Our Projects</a></li>
                  <li><a href='01_contact.html'>Contact</a></li>
                  <li><a href='01_careers.html'>Careers</a></li>
              </ul>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-2">
              <div class="footer-title">
                  <h4>Industries</h4>
              </div>
              <ul class="links">
                  <li><a href='01_single-services.html'>Retail &amp; Consumer</a></li>
                  <li><a href='01_single-services.html'>Sciences &amp; Healthcare</a></li>
                  <li><a href='01_single-services.html'>Industrial &amp; Chemical</a></li>
                  <li><a href='01_single-services.html'>Power Generation</a></li>
                  <li><a href='01_single-services.html'>Food &amp; Beverage</a></li>
                  <li><a href='01_single-services.html'>Oil &amp; Gas</a></li>
              </ul>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-2">
              <div class="footer-title">
                  <h4>Product</h4>
              </div>
              <ul class="links">
                  <li><a href='01_services.html'>Services</a></li>
                  <li><a href='01_sponsors.html'>Sponsors</a></li>
                  <li><a href='error-page.html'>Error Page</a></li>
                  <li><a href='01_faqs.html'>FAQs</a></li>
                  <li><a href='01_shop.html'>Shop</a></li>
              </ul>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-3">
              <div class="footer-title">
                  <h4>Newsletter</h4>
              </div>
              <div class="newsletter">
                  <p>Sign up for industry alerts, our latest news, thoughts, and insights from Gazolin.</p>
                  <form>
                      <input type="email" name="email" placeholder="Your Email Address" required="">
                      <button type="submit"><i class="fas fa-arrow-right"></i></button>
                  </form>
              </div>
              <ul class="icon">
                  <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                  <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                  <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
              </ul>
          </div>
      </div>
  </div>
  <div class="copyright">
      <div class="container">
          <p>@ 2024 Gazolin. With Love by <a href="https://1.envato.market/AR-Coder">AR-Coder</a></p>
          <ul>
              <li><a href="#">Terms &amp; Conditions </a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Sitemap</a></li>
          </ul>
      </div>
  </div>
</footer>

<!-- :: Scroll UP -->
<div class="scroll-up">
  <a class="move-section" href="#page">
      <i class="fas fa-long-arrow-alt-up"></i>
  </a>
</div>

<!-- :: JavaScript Files -->
<!-- :: jQuery JS -->
<script src="/assets/js/jquery-3.6.0.min.js"></script>

<!-- :: Bootstrap JS Bundle With Popper JS -->
<script src="/assets/js/bootstrap.bundle.min.js"></script>

<!-- :: Owl Carousel JS -->
<script src="/assets/js/owl.carousel.min.js"></script>

<!-- :: Lity -->
<script src="/assets/js/lity.min.js"></script>

<!-- :: Nice Select -->
<script src="/assets/js/jquery.nice-select.min.js"></script>

<!-- :: Waypoints -->
<script src="/assets/js/jquery.waypoints.min.js"></script>



<%- include('./partials/popup.ejs') %>

<!-- :: CounterUp -->
<script src="/assets/js/jquery.counterup.min.js"></script>

<!-- :: Magnific Popup -->
<script src="/assets/js/jquery.magnific-popup.min.js"></script>

<script src="/assets/js/swiper-bundle.js"></script>

<!-- :: MixitUp -->
<script src="/assets/js/mixitup.min.js"></script>

<!-- :: Main JS -->
<script src="/assets/js/main.js"></script><script src="/assets/js/ajax-script.js"></script>