<%- include('header'),{seoDetails} %>

<section class="about-section">
  <div class="img-bg-holder-program banner-height">
    <div class="pre-parlex-bg"></div>
  </div>

  <div class="prweport">
    <div class="container">
      <div class="main-inner-text">
        <div class="inner-wapper">
          <div class="row">
            <div class="col-md-6">
              <div class="main-bread">
                <div class="bread-heing">
                  <h1>Our Programmes</h1>
                </div>
              </div>
            </div>

            <div class="col-md-6"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="pre-setion-bottom">
    <img src="/assets/images/bottom_white_wave_03.webp" alt="" />
  </div>
</section>

<section class="pre-vision aboutbg new-padding-top" style="margin: 15px">
  <div class="pre-conent">
    <div class="container">
      <div class="mainprogrm abou-heding new-padding-bottom text-center">
        <span class="text-center"
          ><img src="/assets/images/green_leaf.webp" alt=""
        /></span>
        <h2 class="text-center">Our Programs at Alphabetz</h2>
        <p>
          At <strong>Alphabetz Preschool , Dongargarh</strong>, we offer a
          diverse range of early learning programs tailored to meet the
          developmental needs of children at each stage. Our curriculum is
          designed to inspire curiosity, creativity, and a lifelong love of
          learning.
        </p>
      </div>
    </div>

    <div class="container-vision flecobjet2">
      <div class="row padd-left pre-team flex-deouti">
        <div class="col-lg-6 align-self-center">
          <div class="abou-heding">
            <span><img src="/assets/images/green_leaf.png" alt="" /></span>
            <h2>Playgroup (2 - 3 Years)</h2>
          </div>

          <p>
            In our Playgroup program children explore the world through sensory
            play, interactive activities, and guided learning. Our nurturing
            environment helps build confidence and encourages children to
            express themselves while developing essential motor and social
            skills.
          </p>
        </div>

        <div class="col-lg-6 align-self-center">
          <div class="content-holder">
            <div class="holder-inner">
              <img src="/assets/images/programmes/Playgroup.webp" alt="" />
            </div>
          </div>
        </div>
      </div>
      <div class="flecobjet">
        <div class="row padd-right new-padding-top">
          <div class="col-lg-6 align-self-center">
            <div class="content-holder">
              <div class="holder-inner">
                <img src="/assets/images/programmes/Nursery.webp" alt="" />
              </div>
            </div>
          </div>

          <div class="col-lg-6 align-self-center">
            <div class="abou-heding">
              <span><img src="/assets/images/green_leaf.png" alt="" /></span>
              <!-- <p></p> -->
              <h2>Nursery (3 - 4 Years)</h2>
            </div>

            <p>
              Our Nursery program focuses on fostering independence and
              creativity through structured and free play. Children begin to
              develop early literacy and numeracy skills while engaging in
              hands-on learning that promotes cognitive and emotional
              development.
            </p>
          </div>
        </div>
      </div>

      <div class="row flex-deouti padd-left pre-team new-padding-top">
        <div class="col-lg-6 align-self-center">
          <div class="abou-heding">
            <span><img src="/assets/images/green_leaf.png" alt="" /></span>
            <!-- <p></p> -->
            <h2>Junior KG (4 - 5 Years)</h2>
          </div>

          <p>
            The Junior Kindergarten program emphasizes skill-building and
            concept development. With a blend of structured academics and
            playful learning, children deepen their understanding of language,
            mathematics, and the world around them, preparing for more advanced
            learning.
          </p>
        </div>

        <div class="col-lg-6 align-self-center">
          <div class="content-holder">
            <div class="holder-inner">
              <img src="/assets/images/programmes/JuniorKG.webp" alt="" />
            </div>
          </div>
        </div>
      </div>
      <div class="flecobjet">
        <div class="row padd-right new-padding-top">
          <div class="col-lg-6 align-self-center">
            <div class="content-holder">
              <div class="holder-inner">
                <img src="/assets/images/programmes/SeniorKG.webp" alt="" />
              </div>
            </div>
          </div>

          <div class="col-lg-6 align-self-center">
            <div class="abou-heding">
              <span><img src="/assets/images/green_leaf.png" alt="" /></span>
              <p></p>
              <h2>Senior KG (5 - 6 Years)</h2>
              <p>
                In Senior Kindergarten, children are prepared for primary school
                with a well-rounded curriculum that integrates academic learning
                with physical, social, and creative development. Our focus is on
                building strong foundations for literacy, numeracy, and
                problem-solving, ensuring children are ready for the next stage
                in their educational journey.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row padd-left pre-team flex-deouti new-padding-top">
        <div class="col-lg-6 align-self-center">
          <div class="abou-heding">
            <span><img src="/assets/images/green_leaf.png" alt="" /></span>
            <h2>Daycare (4 – 14 Years)</h2>
          </div>

          <p>
            Our Daycare At Alphabetz Preschool , Dongargarh , our daycare caters
            to children from 6 months to 12 years. We provide a safe, nurturing,
            and engaging environment that promotes holistic growth through daily
            activities. Our specially designed curriculum encourages the
            development of social, emotional, and cognitive skills, ensuring
            that children thrive in a secure, monitored setting. With a focus on
            quality and care, our daycare program supports the unique needs of
            each child while fostering their overall development.
          </p>
        </div>

        <div class="col-lg-6 align-self-center">
          <div class="content-holder">
            <div class="holder-inner">
              <img
                src="/assets/images/programmes/alphabetz-preschool-mascotdaycare.webp"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="expriecns wisdth new-padding-top">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-3">
          <div class="card excrein-card">
            <div class="img-icon">
              <img
                src="/assets/images/programmes/Outdoor-play-school.webp"
                alt=""
              />
            </div>
            <div class="text-are">
              <p>
                Experience the joy of outdoor play, with fresh air and taking a
                break
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-3">
          <div class="card excrein-card">
            <div class="img-icon">
              <img
                src="/assets/images/programmes/Constant-care-teacherchild.webp"
                alt=""
              />
            </div>
            <div class="text-are">
              <p>
                Staff’s constant attention ensures children’s safety and
                comfort.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-3">
          <div class="card excrein-card">
            <div class="img-icon">
              <img
                src="/assets/images/programmes/Growth-reports-daily-reports.webp"
                alt=""
              />
            </div>
            <div class="text-are">
              <p>
                Receive daily reports to stay informed about all the day’s
                activities.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-3">
          <div class="card excrein-card">
            <div class="img-icon">
              <img src="/assets/images/programmes/engaging-child.webp" alt="" />
            </div>
            <div class="text-are">
              <p>Engaging the children with different activities and toys.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-3">
          <div class="card excrein-card">
            <div class="img-icon">
              <img src="/assets/images/programmes/trained-staff.webp" alt="" />
            </div>
            <div class="text-are">
              <p>
                Highly trained and dedicated school staff prioritizing safety.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-3">
          <div class="card excrein-card">
            <div class="img-icon">
              <img src="/assets/images/programmes/Hygeine.webp" alt="" />
            </div>
            <div class="text-are">
              <p>Special focus on hygiene and weekly sanitation of toys.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-3">
          <div class="card excrein-card">
            <div class="img-icon">
              <img
                src="/assets/images/programmes/Extra-curricular-activity.webp"
                alt=""
              />
            </div>
            <div class="text-are">
              <p>Extra curricular activities for health and physical growth.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-12 mb-3">
          <div class="card excrein-card">
            <div class="img-icon">
              <img
                src="/assets/images/programmes/Tmperature-controlled.webp"
                alt=""
              />
            </div>
            <div class="text-are">
              <p>Year round comfort with climate-controlled interiors.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="pre-setion-bottom sectionbg2">
    <img src="/assets/images/top_white_wave_03.webp" alt="" />
  </div>
</section>

<%- include('footer') %>
