<%- include('header'), {seoDetails} %>


<section class="about-section">

    <div class="img-bg-holder-orlearing banner-height">
    
    <div class="pre-parlex-bg"></div>
    
    </div>
    
    <div class="prweport">
    
    <div class="container">
    
    <div class="main-inner-text">
    
    <div class="inner-wapper">
    
    <div class="row">
    
    <div class="col-md-6">
    
    <div class="main-bread">
    
    <div class="bread-heing">
    
    <h1>Our Spaces</h1>
    
    </div>
    
    </div>
    
    </div>
    
    <div class="col-md-6"></div>
    
    </div>
    
    </div>
    
    </div>
    
    </div>
    
    </div>
    
    <div class="pre-setion-bottom">
    
    <img src="/assets/images/bottom_white_wave_03.webp" alt="Alphabetz Learning Spaces & Amenities">
    
    </div>
    
    </section>
    
    <section class="pre-vision aboutbg new-padding-top">
    
    <div class="pre-conent">
    
    <div class="container-vision wisdth">
    
    <div class="welcome-phon-view flecobjet2">
    <div class="row padd-right new-padding-bottom">
    
    <div class="col-lg-6 align-self-center">
    
    <div class="content-holder">
    
    <div class="holder-inner">
    
    <img src="/assets/images/alphabetz-preschoolmascot-second.webp" alt="Alphabetz Learning Spaces & Amenities">
    
    </div>
    
    </div>
    
    </div>
    
    
    <div class="col-lg-6 align-self-center margin" style="padding-left: 12px;">
    
    <div class="abou-heding">
    
    <span><img src="/assets/images/green_leaf.webp" alt="Alphabetz Learning Spaces & Amenities"></span>
    
    <h2>Our Spaces & Amenities</h2>
    
    </div>
    
    <p>At <strong>Alphabetz Preschool , Dongargarh </strong>, we believe that the environment is key to inspiring creativity and learning. Our spaces are carefully designed to cater to children’s developmental needs, providing an enriching preschool experience.</p>
    
    </div>
    
    </div>
    </div>
    <div class="welcome-phon-view flecobjet2">
    <div class="row  flex-deouti padd-left  main-pdig-bottom">
    <div class="col-lg-6 align-self-center margin" style="padding-left: 12px;">
    
    <div class="abou-heding">
    
    <span><img src="/assets/images/green_leaf.webp" alt="Alphabetz Learning Spaces & Amenities"></span>
    
    <h2>Outdoor Play Area</h2>
    
    </div>
    
    <p>Physical activity is essential for growth, and every <strong>Alphabetz</strong> center features a well-equipped outdoor play area. Here, children engage in activities like slides, swings, and sensory play in sand and water areas, promoting physical development in a fun, natural setting.</p>
    
    </div>
    
    <div class="col-lg-6 align-self-center">
    
    <div class="content-holder">
    
    <div class="holder-inner">
    
    <img src="/assets/images/alphabetz%20preschool-mascotsport.webp" alt="Alphabetz Learning Spaces & Amenities">
    
    </div>
    
    </div>
    
    </div>
    
    
    
    
    </div>
    </div>
    
    <div class="row padd-right main-pdig-bottom flecobjet2">
    <div class="col-lg-6 align-self-center">
    
    <div class="content-holder">
    
    <div class="holder-inner">
    
    <img src="/assets/images/SoftGym.webp" alt="Alphabetz Learning Spaces & Amenities">
    
    </div>
    
    </div>
    
    </div>
    
    <div class="col-lg-6 align-self-center">
    
    <div class="abou-heding">
    
    <span><img src="/assets/images/green_leaf.webp" alt="Alphabetz Learning Spaces & Amenities"></span>
    
    <h2>Soft Gym</h2>
    
    </div>
    
    <p>Our soft gym provides a safe and stimulating space for children to develop their gross motor skills. Through guided play, children build strength and coordination, fostering healthy physical growth.</p>
    
    </div>
    
    
    
    </div>
    
    <div class="welcome-phon-view flecobjet2">
    <div class="row flex-deouti padd-left main-pdig-bottom">
    <div class="col-lg-6 align-self-center margin" style="padding-left: 12px;">
    
    <div class="abou-heding">
    <span><img src="/assets/images/green_leaf.webp" alt="Alphabetz Learning Spaces & Amenities" /></span>
    <h2>Puppet Theatre</h2>
    <p>The puppet theatre at <strong>Alphabetz</strong> allows children to express their creativity and imagination. Through interactive storytelling, they develop social and communication skills in a fun, engaging way.</p>
    </div>
    </div>
    
    <div class="col-lg-6 align-self-center">
    
    <div class="content-holder">
    
    <div class="holder-inner">
    
    <img src="/assets/images/puppet-theatre1.webp" alt="Alphabetz Learning Spaces & Amenities">
    
    </div>
    
    </div>
    
    </div>
    
    
    
    </div>
    </div>
    
    <div class="row padd-rightt main-pdig-bottom flecobjet2">
    
    
    
    <div class="col-lg-6 align-self-center">
    
    <div class="content-holder">
    
    <div class="holder-inner">
    
    <img src="/assets/images/Parent-connect.webp" alt="Alphabetz Learning Spaces & Amenities">
    
    </div>
    
    </div>
    
    </div>
    <div class="col-lg-6 align-self-center">
    
    <div class="abou-heding">
    
    <span><img src="/assets/images/green_leaf.webp" alt="Alphabetz Learning Spaces & Amenities"></span>
    
    <h2>Parent Portal</h2>
    
    </div>
    
    <p>Our digital parent portal keeps families updated on their child's progress and daily activities. This ensures seamless communication between parents and the school, reinforcing our commitment to transparency and partnership in your child’s learning journey.</p>
    
    </div>
    
    </div>
    
    <div class="welcome-phon-view flecobjet2">
    <div class="row flex-deouti padd-left main-pdig-bottom">
    <div class="col-lg-6 align-self-center margin" style="padding-left: 12px;">
    <div class="abou-heding">
    <span><img src="/assets/images/green_leaf.webp" alt="Alphabetz Learning Spaces & Amenities" /></span>
    <h2>CCTV Camera</h2>
    
    <p>Safety is our priority. Every <strong>Alphabetz</strong> classroom is equipped with CCTV cameras to monitor activities and ensure a secure learning environment, allowing teachers to maintain high safety standards.</p>
    </div>
    
    </div>
    
    <div class="col-lg-6 align-self-center">
    
    <div class="content-holder">
    
    <div class="holder-inner">
    
    <img src="/assets/images/CCTV.webp" alt="Alphabetz Learning Spaces & Amenities">
    
    </div>
    
    </div>
    
    </div>
    
    
    
    </div>
    </div>
    
    <div class="row padd-right main-pdig-bottom flecobjet2">
    
    
    
    <div class="col-lg-6 align-self-center">
    
    <div class="content-holder">
    
    <div class="holder-inner">
    
    <img src="/assets/images/techenabled.webp" alt="Alphabetz Learning Spaces & Amenities">
    
    </div>
    
    </div>
    
    </div>
    <div class="col-lg-6 align-self-center">
    
    <div class="abou-heding">
    
    <span><img src="/assets/images/green_leaf.webp" alt="Alphabetz Learning Spaces & Amenities"></span>
    
    <h2>Tech Enabled Learning</h2>
    
    </div>
    
    <p>At <strong>Alphabetz</strong>, we integrate modern technology with hands-on learning. With Wi-Fi enabled classrooms and child-friendly tablets, we enhance creativity and cognitive development through interactive educational apps.</p>
    
    </div>
    
    </div>
    
    <div class="welcome-phon-view flecobjet2">
    <div class="row flex-deouti  padd-left main-pdig-bottom">
    <div class="col-lg-6 align-self-center margin" style="padding-left: 12px;">
    <div class="abou-heding">
    <span><img src="/assets/images/green_leaf.webp" alt="Alphabetz Learning Spaces & Amenities" /></span>
    <h2>TV Screens</h2>
    
    <p>Visual aids, such as TV screens, are integrated into the classroom to support interactive learning and concept understanding, helping children grasp ideas more effectively.</p>
    </div>
    </div>
    
    <div class="col-lg-6 align-self-center">
    
    <div class="content-holder">
    
    <div class="holder-inner">
    
    <img src="/assets/images/TVScreen.webp" alt="Alphabetz Learning Spaces & Amenities">
    
    </div>
    
    </div>
    
    </div>
    
    
    
    </div>
    </div>
    
    <div class="row padd-right main-pdig-bottom flecobjet2">
    
    
    
    <div class="col-lg-6 align-self-center">
    
    <div class="content-holder">
    
    <div class="holder-inner">
    
    <img src="/assets/images/classroom.webp" alt="Alphabetz Learning Spaces & Amenities">
    
    </div>
    
    </div>
    
    </div>
    <div class="col-lg-6 align-self-center">
    
    <div class="abou-heding">
    
    <span><img src="/assets/images/green_leaf.webp" alt="Alphabetz Learning Spaces & Amenities"></span>
    
    <h2>State of the Art Classrooms</h2>
    
    </div>
    
    <p>Our classrooms at <strong>Alphabetz</strong> are designed to be both functional and innovative, offering children a comfortable space to explore and learn while incorporating advanced learning tools and technology. </p>
    
    </div>
    
    </div>
    </div>
    
    <div class="pre-setion-bottom sectionbg3">
    <img src="/assets/images/top_white_wave_03.webp" alt="Alphabetz Learning Spaces & Amenities" />
    </div>
    
    </div>
    
    </section>
    <style>
        @media (max-width:992px) {
            .margin{
                margin: 15px;
            }
        }
    </style>

<%- include('footer') %>