<%- include('header'), {seoDetails} %>
<section class="about-section">

    <div class="img-bg-holder-curriculum banner-height">

        <div class="pre-parlex-bg"></div>

    </div>

    <div class="prweport">

        <div class="container">

            <div class="main-inner-text">

                <div class="inner-wapper">

                    <div class="row">

                        <div class="col-md-6">

                            <div class="main-bread">

                                <div class="bread-heing">

                                    <h1>Our Curriculum</h1>

                                </div>

                            </div>

                        </div>

                        <div class="col-md-6"></div>

                    </div>

                </div>

            </div>

        </div>

    </div>

    <div class="pre-setion-bottom">

        <img src="/assets/images/bottom_white_wave_03.webp" alt="Alphabetz Curriculum">

    </div>

</section>
<section class="pre-vision aboutbg new-padding-top" style="max-width: 100%;">
    <div class="pre-conent wisdth">

        <div class="container-vision flecobjet2 new-padding-bottom">

            <div class="row align-items-center">

                <div class="col-lg-6">

                    <div class="content-holder">

                        <div class="holder-inner">

                            <img src="/assets/images/alphabetz%20preschool-mascotsport.webp"
                                alt="Alphabetz Curriculum" />

                        </div>

                    </div>

                </div>

                <div class="col-lg-6 margin" >

                    <div class="abou-heding">

                        <span><img
                                src="/assets/images/green_leaf.png"
                                alt="Alphabetz Curriculum" /></span>

                        <h2 class="main-heding">

                            Our Curriculum at Alphabetz

                        </h2>

                    </div>

                    <p>

                        At <strong>Alphabetz Preschool , Dongargarh</strong>, learning is an exciting journey of discovery. Our "A to Z Learning Framework" embraces every child's individuality, creating a nurturing environment where curiosity and creativity thrive. Blending digital tools with experiential methods, we encourage children to explore, learn, and grow with confidence, laying the foundation for lifelong learning.
                    </p>

                </div>

            </div>

        </div>
        <div class="imgciule">
            <div class="container text-center">
                <img src="/assets/images/criculumimg.webp" alt="Alphabetz Curriculum">
            </div>
        </div>
    </div>
    <div class="pre-setion-bottom sectionbg3">
        <img src="/assets/images/top_white_wave_03.webp" alt="Alphabetz Curriculum" />
    </div>
</section>
<section class="pre-vision new-padding-top" style="max-width: 100%;">
    <div class="pre-conent main-pdig-bottom2">
        <div class="technical wisdth" style="margin: 10px;">
            <div class="abou-heding text-center">
                <h2 class="join text-center">Our Teaching Methods</h2>
            </div>
            <div class="bt_bb_image bookprin"><span><img loading="lazy" decoding="async"
                        width="146" height="146"
                        src="/assets/images/Book.png"
                        class="attachment-full size-full"
                        alt="Book"
                        title="Book"></span></div>
            <p class="text-center">
                At <strong>Alphabetz Preschool , Dongargarh</strong>, we blend thematic
                learning with hands-on experiences to foster a holistic approach to early
                childhood education. We emphasize individualized attention, ensuring each child
                learns at their own pace. Using Montessori-inspired techniques and tech-enabled
                tools, we create an engaging environment that nurtures curiosity, creativity,
                and critical thinking. Our balanced approach helps children develop essential
                skills while preparing them for academic success and lifelong learning.
            </p>
            <div class="bt_bb_image pencli"><span><img loading="lazy" decoding="async"
                        width="134" height="155"
                        src="/assets/images/Pencil.png"
                        class="attachment-full size-full"
                        alt="Pencil"
                        title="Pencil"></span></div>
        </div>
        <div class="progdiv new-padding-top new-padding-bottom ">
            <div class="clese">
                <div class="cllases1 ditialclas">
                    <div class="clles-card">
                        <div class="text-iinwe">
                            <h4>Digital</h4>
                        </div>

                        <div class="imginner-crd">
                            <div class="inner-cllase-bg">
                                <img src="/assets/images/OurCurriculumDigital.webp"
                                    alt="Alphabetz Curriculum">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cllases1 ditialclas">
                    <div class="clles-card">
                        <div class="text-iinwe">
                            <h4>Experiential</h4>
                        </div>

                        <div class="imginner-crd">
                            <div class="inner-cllase-bg">
                                <img src="/assets/images/OurCurriculumExperimental.webp"
                                    alt="Alphabetz Curriculum">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cllases1 ditialclas">
                    <div class="clles-card">
                        <div class="text-iinwe">
                            <h4>Thematic</h4>
                        </div>

                        <div class="imginner-crd">
                            <div class="inner-cllase-bg">
                                <img src="/assets/images/OurCurriculumThematic.webp"
                                    alt="Alphabetz Curriculum">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cllases1 ditialclas">
                    <div class="clles-card">
                        <div class="text-iinwe">
                            <h4>Playway</h4>
                        </div>
                        <div class="imginner-crd">
                            <div class="inner-cllase-bg">
                                <img src="/assets/images/OurCurriculumPlayway.webp"
                                    alt="Alphabetz Curriculum">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cllases1 ditialclas">
                    <div class="clles-card">
                        <div class="text-iinwe">
                            <h4>Montessori</h4>
                        </div>

                        <div class="imginner-crd">
                            <div class="inner-cllase-bg">
                                <img src="/assets/images/OurCurriculumMontessori.webp"
                                    alt="Alphabetz Curriculum">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pre-setion-bottom">

        <img src="/assets/images/bottom_white_wave_03.webp" alt="Alphabetz Curriculum">

    </div>
</section>
<section class="pre-team pading-top-botom" style="max-width: 100%;">
    <div class="pre-conent pddi-top paddi-botmo">
        <div class="learing-exprinc">
            <div class="container" style="    max-width: 1200px;">
                <div class="bt_bb_image bookprin">
                    <span><img loading="lazy" decoding="async" width="146" height="146" src="/assets/images/Globe.png" title="Book"></span>
                </div>
    
                <!-- Swiper Slider -->
                <div class="swiper mySwiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="technologi">
                                <div class="abou-heding text-center">
                                    <h2 class="join">Physical Development</h2>
                                </div>
                                <p>We prioritize the physical development of children through interactive activities that build motor skills, coordination, and overall well-being.</p>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="technologi">
                                <div class="abou-heding text-center">
                                    <h2 class="join">Language & Literacy Development</h2>
                                </div>
                                <p>Our curriculum fosters early language and literacy skills, helping children express themselves confidently and effectively through engaging storytelling and communication exercises.</p>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="technologi">
                                <div class="abou-heding text-center">
                                    <h2 class="join">Creative & Aesthetic Development</h2>
                                </div>
                                <p>We inspire creativity and artistic expression, encouraging children to use their imagination and develop problem-solving abilities through arts, crafts, and creative play.</p>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="technologi">
                                <div class="abou-heding text-center">
                                    <h2 class="join">Technology-Enhanced Learning</h2>
                                </div>
                                <p>At <strong>Alphabetz</strong>, we combine modern technology with traditional learning, creating a balanced approach that enhances children's understanding and keeps them engaged with interactive tools.</p>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="technologi">
                                <div class="abou-heding text-center">
                                    <h2 class="join">Thematic & Experiential Learning</h2>
                                </div>
                                <p>Our curriculum blends thematic and experiential learning, making education engaging, relevant, and connected to real-life experiences. By using meaningful themes to bridge subjects, we create a fun, immersive environment where children develop a deeper understanding and genuine passion for learning.</p>
                            </div>
                        </div>
                    </div>
                    
                </div>
    
                <div class="bt_bb_image pencli">
                    <span><img loading="lazy" decoding="async" width="134" height="155" src="/assets/images/Microscope.png" class="attachment-full size-full" alt="Alphabetz Curriculum" title="Pencil"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="pre-setion-bottom sectionbg2">
        <img src="/assets/images/top_white_wave_03.webp" alt="Alphabetz Curriculum">
    </div>
</section>
<section class="pre-team new-padding-top new-padding-bottom" style="max-width: 100%;">
    <div class="pre-conent wisdth">

        <div class="container-vision flecobjet2">

            <div class="row align-items-center">

                <div class="col-lg-6">

                    <div class="content-holder">

                        <div class="holder-inner">

                            <div class="bt_bb_column_content_inner">
                                <div data-bb-version="4.5.9"
                                    class="bt_bb_image bt_bb_shape_square bt_bb_target_self bt_bb_hover_style_simple bt_bb_content_display_always bt_bb_content_align_middle bt_bb_right_negative_margin_none bt_bb_left_negative_margin_none bt_bb_align_inherit"
                                    data-bt-override-class="{&quot;bt_bb_align_&quot;:{&quot;current_class&quot;:&quot;bt_bb_align_inherit&quot;,&quot;xxl&quot;:&quot;inherit&quot;}}">
                                    <span><img loading="lazy" decoding="async" width="590"
                                            height="530"
                                            src="/assets/images/OurCurriculumBlendofLearningMethods.webp"
                                            title="Technology Aided Learning"
                                            sizes="(max-width: 590px) 100vw, 590px"></span>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>

                <div class="col-lg-6 margin" >

                    <div class="abou-heding">
                        <span><img src="/assets/images/green_leaf.webp"
                                alt="Alphabetz Curriculum" /></span>
                        <h2 class="main-heding">

                            Blend of Learning Methods

                        </h2>

                    </div>

                    <p>we tailor our teaching approach to meet each child’s learning style.
                        Whether it's through oral, written, play-based, Montessori, or
                        activity-driven methods, we ensure a balanced and engaging experience.
                        Our curriculum encourages exploration and creativity, combining hands-on
                        activities with structured lessons. By integrating different teaching
                        methods, we support children's cognitive, social, and physical
                        development, helping them grow into confident and independent learners,
                        all while nurturing their unique potential</p>

                </div>

            </div>

        </div>
        <div class="row mb-3 new-padding-top" style="margin: 10px; max-width:100%">
            <div class="col-md-3">
                <div class="seciv-box">
                    <div class="animals">
                        <div class="pycalimg"><span><img class="phycal"
                                    src="/assets/images/PhysicalDevelopment.webp"
                                    alt="Alphabetz Curriculum"></span></div>
                        <div>
                            <div class="anima-deing">Physical Development</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="seciv-box">
                    <div class="animals">
                        <div class="pycalimg"><span><img class="language"
                                    src="/assets/images/Language%26Literacy.webp"
                                    alt="Alphabetz Curriculum"></span></div>
                        <div>
                            <div class="anima-deing">Language and Literacy</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="seciv-box">
                    <div class="animals">
                        <div class="pycalimg"><span><img class="soicaldevelop"
                                    src="/assets/images/Emotional-Development.webp"
                                    alt="Alphabetz Curriculum"></span></div>
                        <div>
                            <div class="anima-deing">Emotional Development</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="seciv-box">
                    <div class="animals">
                        <div class="pycalimg"><span><img class="methsdevlo"
                                    src="/assets/images/UnderstandingNumbers.webp"
                                    alt="Alphabetz Curriculum"></span></div>
                        <div>
                            <div class="anima-deing">Understanding Numbers</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row new-padding-bottom "  style="margin: 10px; max-width:100%">
            <div class="col-md-3">
                <div class="seciv-box">
                    <div class="animals">
                        <div class="pycalimg"><span><img class="understandeveloper"
                                    src="/assets/images/Environmental-Education.webp"
                                    alt="Alphabetz Curriculum"></span></div>
                        <div>
                            <div class="anima-deing">Understanding the World</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="seciv-box">
                    <div class="animals">
                        <div class="pycalimg"><span><img class="artdegin"
                                    src="/assets/images/CreativeDevelopment.webp"
                                    alt="Alphabetz Curriculum"></span></div>
                        <div>
                            <div class="anima-deing">Creative Development</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="seciv-box">
                    <div class="animals">
                        <div class="pycalimg"><span><img class="communition"
                                    src="/assets/images/Social%26Sommunication.webp"
                                    alt="Alphabetz Curriculum"></span></div>
                        <div>
                            <div class="anima-deing">Social & communication</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-vision margin" >

            <div class="row flex-deouti align-items-center new-padding-top">
                <div class="col-lg-6">

                    <div class="abou-heding">
                        <span><img src="/assets/images/green_leaf.webp"
                                alt="Alphabetz Curriculum" /></span>
                        <h2 class="main-heding">

                            Nurturing Every Child's Unique Curiosities

                        </h2>

                    </div>

                    <p>The <strong>Edwell K-5 Curriculum</strong> at <strong>Alphabetz Preschool , Dongargarh</strong> is designed to foster holistic
                        development in children. By focusing on these 7 areas of learning, we
                        nurture every child’s natural curiosity through hands-on experiences,
                        promoting cognitive, physical, and emotional growth. This balanced
                        approach ensures children develop essential life skills while building a
                        strong foundation for lifelong learning.</p>

                </div>


                <div class="col-lg-6">

                    <div class="content-holder">

                        <div class="holder-inner">

                            <div class="bt_bb_column_content_inner">
                                <div data-bb-version="4.5.9"
                                    class="bt_bb_image bt_bb_shape_square bt_bb_target_self bt_bb_hover_style_simple bt_bb_content_display_always bt_bb_content_align_middle bt_bb_right_negative_margin_none bt_bb_left_negative_margin_none bt_bb_align_inherit"
                                    data-bt-override-class="{&quot;bt_bb_align_&quot;:{&quot;current_class&quot;:&quot;bt_bb_align_inherit&quot;,&quot;xxl&quot;:&quot;inherit&quot;}}">
                                    <span><img loading="lazy" decoding="async" width="590"
                                            height="530"
                                            src="/assets/images/OurCurriculumNurturingEveryChild.webp"
                                            title="Technology Aided Learning"
                                            sizes="(max-width: 590px) 100vw, 590px"></span>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>


    </div>
    <div class="pre-setion-bottom sectionbg2">
        <img src="/assets/images/top_white_wave_03.webp" alt="Alphabetz Curriculum">
    </div>
</section>
<style>
    @media (max-width:992px) {
        .margin{
            margin: 15px;
        }
    }
</style>
<script type="text/javascript" src="assets/js/main.js"></script>
<script type="text/javascript" src="assets/js/owl.carousel.js"></script>
<script type="text/javascript" src="assets/js/bootstrap.bundle.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script>
    var swiper = new Swiper(".mySwiper", {
        slidesPerView: 1,
        spaceBetween: 0,
        loop: true,
        autoplay: {
            delay: 3000, // Adjust autoplay speed (in milliseconds)
            disableOnInteraction: false,
        },
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
    });
</script>
<script>
    var myCarousel = new bootstrap.Carousel(document.querySelector('#carouselExample'), {
        interval: 3000, // Change slide every 3 seconds
        ride: 'carousel'
      });
</script>


<%- include('footer') %>