<%- include('header'), {seoDetails} %>

  <!--====== PAGE TITLE PART START ======-->

  <div class="page-title-area bg_cover" style="background-image: url(/assets/images/page-title-bg.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-title-content">
                    <h1 class="title">Services</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb service-breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Services</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<!--====== PAGE TITLE PART ENDS ======-->

<!--====== PRICING PART START ======-->


<!--====== PRICING PART ENDS ======-->

<!--====== EXPLORE CODESK PART START ======-->

<section class="explore-codesk-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6"  onclick="window.location.href='/service-details/coworking-seat';">
                <div class="explore-codesk-item mt-50">
                    <img src="/assets/images/explore-1.jpg" alt="explore">
                    <h3 class="title">Coworking Seat</h3>
                    <p>Shared workspaces offering flexibility and collaboration.</p>
                    <div class="item d-flex justify-content-between align-items-center">
                        <span>Starts from</span>
                        <p>₹4,499/m</p>
                    </div>
                    <a class="main-btn main-btn-2" href="/service-details/coworking-seat">More <i class="flaticon-right-arrow"></i></a>
                </div>
            </div>
            <div class="col-lg-6" onclick="window.location.href='/service-details/private-cabin';">
                <div class="explore-codesk-item mt-50" >
                    <img src="/assets/images/explore-2.jpg" alt="explore">
                    <h3 class="title">Private Cabin</h3>
                    <p>Exclusive, quiet spaces for focused and private work.</p>
                    <div class="item d-flex justify-content-between align-items-center">
                        <span>Starts from</span>
                        <p>₹13,499/m</p>
                    </div>
                    <a class="main-btn main-btn-2" href="/service-details/private-cabin">More <i class="flaticon-right-arrow"></i></a>
                </div>
            </div>
            <div class="col-lg-6" onclick="window.location.href='/service-details/meeting-room';">
                <div class="explore-codesk-item mt-50">
                    <img src="/assets/images/explore-3.jpg" alt="explore">
                    <h3 class="title">Meeting Room</h3>
                    <p>Professional meeting rooms available by hour.</p>
                    <div class="item d-flex justify-content-between align-items-center">
                        <span>Starts from</span>
                        <p>₹999/hour</p>
                    </div>
                    <a class="main-btn main-btn-2" href="/service-details/meeting-room">More <i class="flaticon-right-arrow"></i></a>
                </div>
            </div>
            <div class="col-lg-6" onclick="window.location.href='/service-details/one-day-pass';">
                <div class="explore-codesk-item mt-50">
                    <img src="/assets/images/explore-4.jpg" alt="explore">
                    <h3 class="title">One Day Pass</h3>
                    <p>Flexible access to our workspace for a day.</p>
                    <div class="item d-flex justify-content-between align-items-center">
                        <span>Starts from</span>
                        <p>₹349/day</p>
                    </div>
                    <a class="main-btn main-btn-2" href="/service-details/one-day-pass">More <i class="flaticon-right-arrow"></i></a>
                </div>
            </div>
            <div class="col-lg-6" onclick="window.location.href='/service-details/weekly-pass';">
                <div class="explore-codesk-item mt-50">
                    <img src="/assets/images/explore-4.jpg" alt="explore">
                    <h3 class="title">Weekly Pass</h3>
                    <p>Enjoy a full week of workspace access.</p>
                    <div class="item d-flex justify-content-between align-items-center">
                        <span>Starts from</span>
                        <p>₹1,499/week</p>
                    </div>
                    <a class="main-btn main-btn-2" href="/service-details/weekly-pass">More <i class="flaticon-right-arrow"></i></a>
                </div>
            </div>
        </div>
        
    </div>
    <div class="explore-codesk-shape">
        <img src="/assets/images/testimonial-pattern.png" alt="">
    </div>
</section>

<!--====== EXPLORE CODESK PART ENDS ======-->

<!--====== CTA 2 PART START ======-->

<section class="cta-2-area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4">
                <div class="cta-content">
                    <h3 class="title">Find Your Focused Workspace—Book Your Seat Today</h3>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="cta-content">
                    <p>Experience a productive, professional environment tailored to your needs. Book a free visit today and enjoy exclusive offers when you secure your spot!</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="cta-content text-left text-lg-right">
                    <a class="main-btn" href="/bookseat">Schedule Your Visit</a>
                </div>
            </div>
        </div>
    </div>
    <div class="cta-dot">
        <img src="/assets/images/cta-dot-2.png" alt="cta">
    </div>
    <div class="cta-dot-2">
        <img src="/assets/images/cta-dot.png" alt="cta">
    </div>
</section>

<!--====== CTA 2 PART ENDS ======-->


<%- include('footer') %>