<%- include('header'), {seoDetails} %>
 
<section class="about-section">

    <div class="img-bg-holder-ixplore banner-height">
    
    <div class="pre-parlex-bg"></div>
    
    </div>
    
    <div class="prweport">
    
    <div class="container">
    
    <div class="main-inner-text">
    
    <div class="inner-wapper">
    
    <div class="row">
    
    <div class="col-md-6">
    
    <div class="main-bread">
    
    <div class="bread-heing">
    
    <h1>Smart Speak</h1>
    
    </div>
    
    </div>
    
    </div>
    
    <div class="col-md-6"></div>
    
    </div>
    
    </div>
    
    </div>
    
    </div>
    
    </div>
    
    <div class="pre-setion-bottom">
    
    <img src="/assets/images/bottom_white_wave_03.webp" alt="">
    
    </div>
    
    </section>
    
    <section class="pre-vision aboutbg new-padding-top">
    
    <div class="pre-conent">
    
    <div class="container-vision">
    <div class="flecobjet new-padding-bottom">
    <div class="container">
    <div class="row ">
    <div class="col-lg-12 align-self-center">
    
    <div class="abou-heding"><h2 class="">SMART SPEAK BY EDWELL PAGE</h2></div>
    
    <p class=" pt-2">Welcome to <strong>Smart Speak by Edwell</strong>, a unique learning journey tailored to young, inquisitive minds from Nursery to Senior KG. Our program is designed to foster creativity, critical thinking, and communication through interactive tech tools that make learning a joyful adventure. With <strong>Smart Speak by Edwell</strong>, we embark on a path that promotes adaptability and effective communication, enhancing each child's ability to reflect and grow in a supportive environment.</p>
    <div class="smartimg mt-3"><img style="width:100%; margin:15px 0" src="/assets/images/Samart-Speak-Page-Banner.webp" alt=""></div>
    <h2 class="pt-4">Nursery - Beginning Discoveries</h2>
    <p>In our Nursery program, <strong>Smart Speak by Edwell</strong> introduces little learners to the wonders of the alphabet, numbers, and basic shapes through a fun and interactive speaking pen. This tool provides immediate auditory feedback on their actions, enhancing their learning experience and encouraging them to explore new concepts enthusiastically, all while fostering early language skills and cognitive development.</p>
    <h2 class="pt-4">Junior KG - Little Innovators</h2> 
    <p>For Junior KG, <strong>Smart Speak by Edwell</strong> steps up to challenge young minds with more complex tasks that enhance vocabulary and early mathematics skills. The interactive books engage children with stories and puzzles that require active participation. This method not only reinforces their learning but also boosts their confidence as they navigate through tasks independently, promoting a deeper understanding and retention of educational content.</p>     
    <h2 class="pt-4">Senior KG - Preparing Pioneers</h2>
    <p>In Senior KG, <strong>Smart Speak by Edwell</strong> prepares children for primary school with advanced interactive tools that focus on comprehensive literacy and numeracy. The program includes activities designed to hone problem-solving skills and critical thinking. The speaking pen becomes a tool for guided discovery, enabling children to tackle more complex concepts and engage in self-directed learning, which is crucial for their upcoming educational journey.</p>    
    <p><strong>Smart Speak by Edwell    </strong> at Alphabetz Preschool , Dongargarh  integrates innovative technology with traditional learning methods to create a balanced and immersive educational experience. This program significantly reduces screen time while actively engaging children in the learning process, making it an effective tool for early education.</p>             
    </div>
    
    
    </div>
    </div>
    </div>
    </div>
    
    </div>
    <div class="pre-setion-bottom sectionbg2">
    
    <img src="/assets/images/top_white_wave_03.webp" alt="">
    
    </div>
    </section>
<style>
    h2{
        margin: 8px 0;
    }
</style>

<%- include('footer') %>